<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL Shrinker</h1>
    <form action ="" method="POST">
        <label for="fullUrl">
            <input type="url" name="fullUrl" id = "fullUrl">
            <button type="submit">Shrink</button>
        </label>
    </form>
    <table><thead><tr><th>Full Url</th><th>Short Url</th><th>Clicks Url</th></tr></thead><tbody><tr><a href="https://ishan-blog.vercel.app">https://ishan-blog.vercel.app</a></tr></tbody></table>
</body>
</html>